# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: daily-metrics

on:
  # Schedule updates (daily)
  schedule: [{ cron: "0 0 * * *" }]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: { branches: ["master", "main"] }

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: nimble-123
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Berlin

          # Achievements
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C

          # Languages
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

          # Notable contributions
          plugin_notable: yes
          plugin_notable_from: organization

          # Habits
          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200

          # Lines of code changed
          plugin_lines: yes

          # Spotify top tracks
          # plugin_music_limit: 4
          # plugin_music_mode: top
          # plugin_music_played_at: yes
          # plugin_music_provider: spotify
          # plugin_music_time_range: medium
          # plugin_music_top_type: tracks
          # plugin_music_user: 1121810535

          # Repository traffic
          plugin_traffic: yes

          repositories_forks: yes
